
a 
{
    text-decoration: none;
}

.main {
    margin-top: 3em;
    border: 2px solid #008074;
    padding: 1em;
    border-radius: 5px;
    background-color: beige;
}

.action-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.navigation {
	max-width: 20%;
    border-right: 1px solid darkblue;
    padding-right: 1em;
}

.navigation ul li.section
{
    color: darkblue;
      list-style: none;
  padding-left: 0;
}

.navigation ul li.section a
{
    color: darkblue;
    font-weight: bold;
}

.navigation ul li.section ul a
{
    color: blue;
    font-weight: normal;
}

.navigation ul li.group
{
    /*color: pink;*/
    font-style: italic;
}

.navigation ul li.group ul a
{
    /*color: green;*/
    font-style: normal;
}

.forms td,
.forms th {
  padding-top: 8px; /* oben unten 8px, rechts links 12px */
  padding-bottom: 8px;
}

.section-table td,
.section-table th {
  padding: 12px;
}
.section-table_list td,
.section-table_list th {
  padding: 12px;
  background-color: transparent;
}

body {
    
    background-position: fixed;
    background-size: cover;
}