
a 
{
    text-decoration: none;
}

.main {
    margin-top: 3em;
    border: 2px solid #008074;
    padding: 1em;
    border-radius: 5px;
    background-color: beige;
}

.action-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.navigation {
	max-width: 20%;
    border-right: 1px solid darkblue;
    padding-right: 1em;
}

.navigation ul
{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.navigation ul li
{
    color: darkblue;
    font-weight: bold;

}

.forms td,
.forms th {
  padding-top: 8px; /* oben unten 8px, rechts links 12px */
  padding-bottom: 8px;
}

.section-table td,
.section-table th {
  padding: 12px;
}

body {
    
    background-position: fixed;
    background-size: cover;
}