<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %} -ToolToucan WebServer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body style="background-image: url('{{ url_for('static', filename='images/jungle.jpg') }}');">

<div class="container main">
  <a id="ttPageTop"></a>
  <h2>
    <a href="/">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="ToolToucan Logo" width="150" height="150"/>
    </a> 
    ToolToucan
  </h2>
  <hr/>
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
      {% for warning in warnings %}
        <div class="alert alert-warning" role="alert">{{ warning }}</div>
      {% endfor %}
      {% for info in infos %}
        <div class="alert alert-info" role="alert">{{ info }}</div>
      {% endfor %}
  
  <div class="row">
    <div class="col navigation">
      {% block navigation %}{% endblock %}
    </div> <!-- nav end-->
    <div class="col">
  {% block body %}{% endblock %}
    </div> <!-- content end-->
  </div> <!-- row end-->
  <footer>
    <a href="#ttPageTop">Back to top</a>
    <hr/>
    <p style="text-align: center;">ToolToucan WebServer - Copyright © 2025 by Claus Ilginnis - <a href="license">License</a></p>
  </footer> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</div> <!-- main end-->
  </body>
</html>

