Navigation<br>
<span style="font-size: 0.7em;"><a href="/edit_section/0">[New Section]</a>&nbsp;<a href="/edit_link/0">[New Link]</a></span>
<ul>
  {% for section in navigation.sections %}
    <li  class="section" ><a href="/section_list/{{ section.id }}" style="text-decoration: none; color: darkblue;">{{ section.name }}</a>
        {% for group in section.groups %}
        <ul>
            {% if group.name  %}
            <li  class="group"> {{ group.name }} <!-- group start -->
            <ul>
            {% endif %}
              {% for link in group.links %}
                <li>
                    <a href="{{ link.url }}" target="{{ link.target }}">{{ link.name }}</a>
                </li> 
              {% endfor %}
            {% if group.name  %}
            </ul>
          </li> <!-- group end -->
            {% endif %}
        {% endfor %}
        </ul>
    </li> <!-- section end -->
  {% endfor %}
</ul>