Navigation<br>
<span style="font-size: 0.8em;"><a href="edit_link/0">Add Link</a></span>
<ul>
  {% for section in navigation.sections %}
    <li>{{ section.name }}
        {% for group in section.groups %}
        <ul>
            {% if group.name  %}
            <li>{{ group.name }}
            <ul>
            {% endif %}
            {% for group in section.groups %}
            <li>
                {% for link in group.links %}
                    <a href="{{ link.url }}" target="{{ link.target }}">{{ link.name }}</a>
                {% endfor %}
            </li>
            {% endfor%}
            {% if group.name  %}
            </ul>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
  {% endfor %}
</ul>